.home {
    width: 100%;
    background-color: rgb(230, 230, 230);
    position: relative; 
}
.container-3 {
    margin: auto;
    width: 1500px;
    height: 700px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: rgb(230, 230, 230);
    position: relative;
}
#banner-1{
    position: absolute;
    left: 500px;
    height: 150px;
    width: 170px;
}
h1 {
    font-size: 50px;
    margin-right: 400px;
}
#blue {
    color: rgb(22, 111, 180);
}
#h-1{
    @include fontStyle ();
}
#h-2{
    @include fontStyle ();
}
#h-3{
    @include fontStyle ();
}
.rightbox{
    position: absolute;
    left: 200px;
    top: 70px;
}

