.buttons {
    position: absolute;
    top: 100px;
 }
 #btn-1{
    position: absolute;
    left: 600px;
    border: none;
    font-size: 25px;
    background: none;
    text-decoration: none;
 }
 #btn-2{
    position: absolute;
    left: 700px;
    border: none;
    font-size: 25px;
    background: none;
    text-decoration: none;
 }
 #btn-3{
    position: absolute;
    left: 870px;
    border: 1px solid gray;
    border-radius: 7px;
    width: 80px;
    height: 40px;
    color: gray;
    font-size: 20px;
    background: none;
 }
 #btn-4{
    position: absolute;
    left: 970px;
    border: 1px solid blue;
    border-radius: 7px;
    width: 80px;
    height: 40px;
    color: blue;
    font-size: 20px;
    background: none;
 }